{{template "header.html" .}}

<body>
<header>
  <div class="content-home text-center">
  <a class="avatar" href="/">
      {{if $.blogInfo.Logo}}
      <img src="{{$.blogInfo.Logo}}" alt="" />
      {{else}}
      <img src="{{$.themeBaseUrl}}/avatar.jpg" alt="" />
      {{end}}
  </a>
  <h1 class="name">
    {{$.blogInfo.Title}}
  </h1>
  <div class="slogan">
    {{$.blogInfo.SubTitle}}
  </div>
  <hr>

  <ul class="text-center nav">
    
      <li class="item">
        <a href="{{$.themeBaseUrl}}/archives.html" target="_blank">Blog</a>
        <span>|</span>
      </li>
    
      <li class="item">
        <!--TODO-->
        <a href="https://github.com/{{$.themeInfo.github}}" target="_blank">Github</a>
        <span>|</span>
      </li>
    
      <li class="item">
        <a href="http://www.douban.com/people/{{$.themeInfo.douban}}/" target="_blank">Douban</a>
        <span>|</span>
      </li>
    
      <li class="item">
        <a href="https://twitter.com/{{$.themeInfo.twitter}}" target="_blank">Twitter</a>
        <span>|</span>
      </li>
    
  </ul>


</div>
</header>

<div class="blogitem">

    {{template "footer.html" $}}
    {{template "highlight.html" $}}

</div>


</body>
</html>
